/.vs/Sanlam.Chipo.Bank.slnx/FileContentIndex/3f534e7c-7d6b-4aa7-ad64-a77bb487cc7f.vsidx
/.vs/Sanlam.Chipo.Bank.slnx/v17/*.suo
/.vs/Sanlam.Chipo.Bank.slnx/v17
/.vs/Sanlam.Chipo.Bank/CopilotIndices/17.14.1577.30250/*.db
/.vs/Sanlam.Chipo.Bank/CopilotIndices/17.14.1577.30250/*.db-shm
/.vs/Sanlam.Chipo.Bank/CopilotIndices/17.14.1577.30250/*.db-wal
